@import '_base.scss';

.login {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    .btnGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            margin-top: 20px;
        }
    }
}
