// global variables
// -------- Colors -----------
$primary-color: #1da57a;
$dark-color: #001529;
$gray-color: #888;
$border-light-color: #f8f8f8;

// *** font-size ***/
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;
