@import '_base.scss';

.reset {
    margin-bottom: 15px;
}

.autoComplete {
    width: 100%;
    margin-top: 15px;
}

.btnCover {
    margin-left: 10px;
}

.content {
    padding: 10px;
    margin: 10px 0;
    border: 1px dotted #cac5c5;
    border-radius: 3px;
}

.textContent {
    margin: 10px 0;
}
