.header {
    align-items: center;
    background-color: white;
    border-left: 1px solid $border-light-color;
    display: flex;
    justify-content: space-between;
    padding: 0 135px 0 0;
}

.trigger {
    cursor: pointer;
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    transition: color 0.3s;

    &:hover {
        color: $primary-color;
    }
}

.right {
    align-items: center;
    display: flex;
}

.rightIcon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
}
