@import '_base.scss';

.appWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    min-height: 100%;
    flex-direction: column;
}

.intlSelect:global.ant-select {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100px;
}
