@import '_base.scss';

:global {
    html,
    body {
        width: 100%;
        height: 100%;
    }

    #app {
        width: 100%;
        height: 100%;
    }

    svg,
    svg path {
        fill: currentcolor;
    }
}
