@import '_base.scss';

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;

    & > * {
        background-color: white;
        display: flex;
        flex: 1;
        overflow-y: auto;
        padding: 15px;
        width: 100%;
    }
}
